/*========================================
        DEFAULT VALUES :

        Font Family : Robo Condensed

        Greenish Blue   : #34c6d3   (Buttons, Icons, Links & Backgrounds
        Steel Gray      : #41464b   (Headings)
        Blue Bayoux     : #64707b   (Paragraphs)
        White           : #fff      (Text With Black Backgrounds)
        Black           : #000
======================================== */

body {
    font-family: 'Roboto Condensed', sans-serif;
}
